.fir-clickcircle {
    height: 80px;
    width: 80px;
    border-radius: 100px;
}
  
.fir-image-figure {
  display: flex;
  align-items: center;
  position: relative;
  text-decoration: none;
  margin-bottom: 20px;
}

.fir-image-figure .caption, .fir-image-figure figcaption {
  padding-left: 15px;
}

.fir-image-figure .fig-author-figure-title {
  color: var(--fir-color-grey);
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 400;
  font-size: 15px;
  margin-top: 2px;
}
  